
.result-score{
    text-align: center;
    align-items: center;
    margin-top: 6%;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    color: #9a9998;
    font-size: 2rem;

}

.title{
    text-align: center;
    align-items: center;
    margin-top: 5%;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    color: #9a9998;
    font-size: 4rem;
}

.btn-shuffle{
    background-color: transparent;
    height: min-content;
    margin-top: 6%;
    border-style: none;
    font-size: 30px;
}



.scoreList ul{
    color: #9a9998;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    font-size: 1.5rem;
    margin-top: 4%;
    list-style-type: none;
    list-style: none;
}


.luck{
    color: #9a9998;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    font-size: 1.5rem;
    margin-top: 4%;
}


#text-Input{
    align-items: center;
    text-align: center;
    font-family: Ubuntu Mono,Lucida Console,monospace;
    color: #9a9998;
    margin-top: 4%;
    font-size: 2rem;
    width:900px;
    height:300px;
    word-wrap: break-word;    
    }

